<ion-header>
  <ion-toolbar>
    <ion-title>Account</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/recipes">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ng-container *ngIf="isLoggedIn">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-align-self-center">Profile</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-avatar slot="start">
            <img src="https://www.gravatar.com/avatar/{{userData.email}}?d=identicon" />
          </ion-avatar>
          <ion-label>
            <h2>{{userData.username}}</h2>
            <p>{{userData.email}}</p>
          </ion-label>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-button expand="block" (click)="logout()">Logout</ion-button>
  </ng-container>
  <ng-container *ngIf="!isLoggedIn">
        <ion-button expand="block" (click)="navigate('auth/login')">Login</ion-button>
        <ion-button expand="block" (click)="navigate('auth/register')">Register</ion-button>
  </ng-container>
</ion-content>
